<!-- Footer -->
<footer class="page-footer font-small blue pt-4">
    <div class="container-fluid text-center text-md-left justify-content-center">
        <div class="row justify-content-center">
            <div class="col-md-4 mb-md-0 mb-3 text-center">
                <a href="https://matthieucote.bandcamp.com/" 
                target="_blank" type="button" class="btn btn-outline-light rounded-pill">
                    <i class="fab fa-bandcamp"></i>
                    Ecouter et acheter ses albums sur Bandcamp
                </a>
            </div>
            <div class="col-md-4 mb-md-0 mb-3 text-center">
                <a  href="https://www.facebook.com/questcequilssontcons/" target="_blank" 
                type="button" class="btn btn-outline-light rounded-pill">
                    <i class="fab fa-facebook-f fa-fw"></i>
                    Ceci n'est pas le facebook de Matthieu Côte
                </a>
            </div>
        </div>
    </div>
    <!-- Copyright -->
    <div class="footer-copyright text-center pt-2">
        <p> © 2020 Copyright |
            <a href="://www.bentoportfolio.com">Développé par David Bento-Pereira</a> |
            <a href="{{ path('front_contact') }}">Contact</a> |
            <a href="{{ path('front_credits') }}">Crédits</a> |
            <a href="{{ path('front_mentions_legales') }}">Mentions Légales</a>
        </p>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->