<!-- Footer -->
<footer class="page-footer font-small fixed-bottom blue pt-4">
    <div class="container-fluid text-center text-md-left justify-content-center">
        <div class="row justify-content-center">
            <div class="col-md-3 mb-md-0 mb-3 text-center">
                <button type="button" class="btn btn-outline-warning">Ecouter et acheter sur Bandcamp</button>
            </div>
            <div class="col-md-3 mb-md-0 mb-3 text-center">
                <button type="button" class="btn btn-outline-warning">Ceci n'est pas le facebook de Matthieu Côte</button>
            </div>
        </div>
    </div>
    <!-- Copyright -->
    <div class="footer-copyright text-center pt-2">
        <p>© 2020 Copyright | <a href="://www.bentoportfolio.com">Développé par David Bento-Pereira</a> | Contact | Crédits | Mentions Légales</p>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->