body {
    background-color: #171D24;
}

/*********** NAVBAR ***********/
.bg-dark-custom {
    background-color: #2B3443;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
    font-family: "Roboto Light", sans-serif;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #FFBB51;
    text-shadow: #FFBB51 2px 2px 2px;
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
    color: #FFBB51;
    text-shadow: #FFBB51 2px 2px 2px;
}

/*********** MAIN TITLE ***********/
#main_title {
    color: white;
}

#main_title_emphisised {
    color: #FFBB51;
}

/*********** GENERAL ***********/
h1, h2, h3, h4, h5, h6 {color:white; font-family: "Roboto Light", sans-serif}
h1 {
    margin-top: 2em;
    margin-bottom: 1em;
}
p {color: white;font-family: Roboto, sans-serif}
a {color: white;}
a:hover {color: #FFBB51; text-shadow: #FFBB51 2px 2px 2px; text-decoration: none;}

/********** FOOTER ***********/
footer {
    background-color: #2B3443;
    position:absolute;
    bottom:0;
    width:100%;
    height:90px;   /* Height of the footer */
}
.footer-copyright p {font-size: 0.8em;}
.btn-footer {border-radius: 20px;}