.card {
    background-color: #2B3443;
    border-radius: 50px;
    border: none;
    .card-img-top {
        border-radius: 50px 50px 0px 0px;
    }
    .card-title {
        color: $main-color;
        text-shadow: #000000 2px 8px 12px;
    }
    .card-text {
        font-size: 0.9em;
        margin-top: -0.5em;
    }
}