body {
    background-color: $background-color;
    padding: 4.5em 0em 3em 0em;
}
h1, h2, h3, h4, h5, h6 {
    @include title-font();
    color:$text-color;
    #main_title_emphisised {
        color: $main-color;
    }
}
h1 {
    margin-bottom: 1em;
}
p, li {
    color: $text-color;
    @include text-font;
}
a {
    color: $text-color;
    &:hover {
        color: $main-color; 
        @include title-shadow;
        text-decoration: none;
    }
}
.btn-outline-warning {
        color:$main-color;
        border-color: $main-color;
        &:hover {
            background-color:$main-color;
        }
}