.bg-dark-custom {
    background-color: $layout-color;
}
.navbar-light .navbar-nav .nav-link {
    @include title-font;
    color: $text-color;
    text-transform: uppercase;
    &:focus {
        color: $text-color;
    }
    &:hover {
        color: $main-color;
    }
}


.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
    color: $main-color;
    @include title-shadow; 
}