{% extends 'front/base.html.twig' %}
{% set page = 'actualites' %}
{% block title %}Actualités{% endblock %}
{% block h1_title %}Ce ne sont pas des <span id="main_title_emphisised">actualités</span> sur Matthieu Côte !{% endblock %}
{% block body %}

{% endblock %}