{% extends 'front/base.html.twig' %}
{% set page = 'articles' %}
{% block title %}Articles{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <h1 class="text-center" id="main_title">Ce ne sont pas des <span id="main_title_emphisised">articles</span> de Matthieu Côte</h1>
        </div>
    </div>
{% endblock %}