{% extends 'front/base.html.twig' %}
{% set page = 'biographie' %}
{% block title %}Biographie{% endblock %}
{% block h1_title %}Ceci n'est pas la <span id="main_title_emphisised">biographie</span> de Matthieu Côte !{% endblock %}
{% block body %}

    <div class="row justify-content-center">
        <div class="col-3">
            <img src="{{ asset('img/matthieu_cote_pictures_1.jpg') }}" class="img-fluid rounded shadow" alt="Mathhieu Côte souriant, un verre à la main">
        </div>

        <div class="col-6">
            <p>
                En décembre 2003, à 24 ans, après plusieurs années de formation musicale au CNR de Lyon puis à l’ENM de
                Villeurbanne, après de nombreux concerts en tant que guitariste des Pfeleleps, groupe de rock alternatif
                qu’il monte à 16 ans, puis en tant que auteur/chanteur/clarinettiste des Anciens Pantins, groupe de
                chanson festive, après une année en Asie et en Amérique Latine, après de nombreux ateliers de théâtre,
                après diverses expériences dans des spectacles variés et dans des dizaines de jobs qui n’ont rien mais
                alors rien à voir avec le spectacle, après avoir co-écrit et monté et joué « Le bar de l’étoile rouge »
                du collectif les Choeurs de l’Armée Du Rouge, après pas mal de soirées piano bar avec son complice
                pianiste Pierre Fayet, bref après plusieurs projets dont certains courent toujours, Matthieu se met
                à travailler sur un répertoire qui lui est cher : le sien. Les premières dates arrivent au printemps
                2004, en duo avec Pierre Fayet.
            </p>

            <p>
                Energique, spontané, impudique, drôle, sensible, Matthieu écrit avec son coeur, ses tripes et son
                cerveau,et en quelques mois il conquit un publique, séduit par sa musique, la fraîcheur de son
                personnage et l’intelligence de ses textes.
            </p>
        </div>
    </div>

    <div class="row justify-content-center mt-3">
        <div class="col-5">
            <p>
                En 2005 Matthieu reçoit le grand prix du centre de la chanson (Paris), le prix de la Sacem et
                plusieurs prix des partenaires lors du tremplin vive la reprise ainsi que le prix du public et
                le prix Sacem du tremplin Sémaphore en chanson à Cébazat.
            </p>
            <p>
                En octobre 2005, lors d’une résidence Salle des Rancy à Lyon. le spectacle voit le jour en version
                quatuor, mis en scène par Thierry Chantrel. Lors de cette résidence Matthieu rencontre et séduit
                l’équipe de Vocal 26, producteur Drômois qui le prends sous son aile. Il fait aussi la
                connaissance d’Allain Leprest, qui l’invite à assurer sa première partie, à Annonay puis à Paris.
            </p>
            <p>
                De beaux concerts suivent en 2006 : Le café de la Danse (Paris) en première partie de
                Michèle Bernard, Festival Mars en chanson à Charlerois (Belgique), Festival Chanson de
                Paroles à Barjac, Festival Région en Scène (Chambéry), Festival Sémaphore en chanson (Cébazat)
                en première partie de Chanson Plus Bifluorée... Encore de belles rencontres...
            </p>
            <p>
                Un album auto-produit voit le jour en Septembre 2006.
            </p>
        </div>

        <div class="col-4">
            <img src="{{ asset('img/matthieu_cote_micro.jpg') }}" class="img-fluid rounded shadow" alt="Mathhieu Côte souriant, un verre à la main">
        </div>

        <div class="row justify-content-center mt-3">
            <div class="col-9">
                <p>
                    En octobre 2006, Matthieu croise la route de Têtes Raides lors d’une première partie très
                    remarquée à Cusset (03). Le groupe l’invite plusieurs fois lors de sa tournée à venir jouer
                    quelques titres. Janvier 2007, poussée par des envies musicales toutes neuves, une nouvelle
                    formule prend le relais sur scène, en trio, avec Eric Moulin aux claviers et Jean-Marie
                    Provenzano aux guitares.
                </p>
                <p>
                    En 2007, le trio se produit sur des scènes de plus en plus importantes. Matthieu et ses
                    musiciens assurent notamment la première partie d’Emily Loizeau, de Benoit Morel, de
                    Romain Didier, de Michel jonasz, et sont présents sur des festivals tels que Paroles et
                    Musiques à Saint Etienne, Attention les feuilles à Meythet et Les Nuits de Fourvière à
                    Lyon, où le public leurs fait un accueil triomphal en première partie d’Anis et de
                    Sanseverino...
                </p>
                <p>
                    Début 2008, Matthieu pense très sérieusement au prochain album.
                </p>
                <p>
                    [Matthieu nous a brutalement quittés le 26 septembre 2008]
                </p>
            </div>
        </div>
    </div>

{% endblock %}