{% extends 'front/base.html.twig' %}
{% set page = 'biographie' %}
{% block title %}Biographie{% endblock %}
{% block h1_title %}Ceci n'est pas la <span id="main_title_emphisised">biographie</span> de Matthieu Côte{% endblock %}
{% block body %}

{% endblock %}