{% extends 'front/base.html.twig' %}
{% set page = 'credits' %}
{% block title %}Crédits{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <h1 class="text-center" id="main_title">Crédits</h1>
        </div>
    </div>
{% endblock %}