{% extends 'front/base.html.twig' %}
{% set page = 'discographie' %}
{% block title %}Discographie{% endblock %}
{% block h1_title %}Ceci n'est pas la <span id="main_title_emphisised">discographie</span> de Matthieu Côte !{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/amplitudejs.css') }}">
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="player col-5">
                <!-- Album cover -->
                <div class="row justify-content-center">
                    <img class="player__cover img-fluid rounded album-art" data-amplitude-song-info="cover_art_url" alt="Album Matthieu Côte"/>
                </div>
                <!-- Song name -->
                <div class="row justify-content-center">
                    <p class="player__song-title" data-amplitude-song-info="name"></p>
                </div>
                <!-- Audio Controls -->
                <div class="row justify-content-center mb-3">
                    <div class="player__audio-controls">
                        <button class="btn btn-outline-warning btn-circle amplitude-prev"><i class="fas fa-step-backward"></i></button>
{#                        <button class="btn btn-outline-warning btn-circle amplitude-play btn-play"><i class="fas fa-play"></i></button>#}
{#                        <button class="btn btn-outline-warning btn-circle amplitude-pause btn-pause"><i class="fas fa-pause"></i></button>#}
                        <button class="btn btn-lg btn-outline-warning btn-circle amplitude-play-pause" id="play-pause"><i class="fas fa-play"></i></button>
{#                        <div class="amplitude-play-pause" id="play-pause"></div>#}
                        <button class="btn btn-outline-warning btn-circle amplitude-next"><i class="fas fa-step-forward"></i></button>
                    </div>
                </div>
                <!-- Slider Song Bar  -->
                <div class="row justify-content-center align-content-center">
                    <!-- Current time in song-->
                    <span class="amplitude-current-time"></span>
                    <!-- Slider Song Bar-->
                    <input type="range" class="amplitude-song-slider progress-sm" step=".1"/>
                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <!-- Song Duration -->
                    <span class="amplitude-duration-time"></span>
                </div>
                <!-- Btn Bandcamp-->
                <div class="row justify-content-center mt-2">
                    <a href="https://matthieucote.bandcamp.com/album/matthieu-c-te" target="_blank" type="button" class="btn btn-outline-light rounded-pill">
                        <i class="fab fa-bandcamp"></i> Ecouter et acheter sur Bandcamp
                    </a>
                </div>
            </div>

            <div class="album col-4">
                <!-- Album Informations-->
                <p class="album__label">ALBUM</p>
                <p class="album__title" data-amplitude-song-info="album">Titre album</p>
                <p><span class="text-muted">Par </span><span data-amplitude-song-info="artist">Nom artiste</span></p>
                <p class="album__info text-muted">13 chansons - 53 min - Septembre 2006</p>
                <!-- Songs List -->
                <ul class="album__songs">
                    <li class="song amplitude-song-container amplitude-play-pause" data-amplitude-song-index="0">
                        {#                        <i class="fas fa-play mr-2 icon-play"></i>#}
                        {#                        <i class="fas fa-pause mr-2 icon-pause"></i>#}
{#                        <div class="song-now-playing-icon-container">#}
{#                            <div class="play-button-container">#}

{#                            </div>#}
{#                            <img class="now-playing" src="https://521dimensions.com/img/open-source/amplitudejs/blue-player/now-playing.svg"/>#}
{#                        </div>#}
                        <span class="album__song-number">01</span>
                        Etudiante en lettre
                    </li>
                    <li class="song amplitude-song-container amplitude-play-pause" data-amplitude-song-index="1">
                        <span class="album__song-number">02</span>
                        La mère de l'Officier
                    </li>
                    <li class="song amplitude-song-container amplitude-play-pause" data-amplitude-song-index="2">
                        <span class="album__song-number">03</span>
                        Tendre
                    </li>
                    <li class="song amplitude-song-container amplitude-play-pause" data-amplitude-song-index="3">
                        <span class="album__song-number">04</span>
                        Liège
                    </li>
                    <li class="song amplitude-song-container amplitude-play-pause" data-amplitude-song-index="4">
                        <span class="album__song-number">05</span>
                        Le rêve américain
                    </li>
                    <li class="song amplitude-song-container amplitude-play-pause" data-amplitude-song-index="5">
                        <span class="album__song-number">06</span>
                        Le Sarong
                    </li>
                    <li class="song amplitude-song-container amplitude-play-pause" data-amplitude-song-index="6">
                        <span class="album__song-number">07</span>
                        Ma meilleure amie
                    </li>
                    <li class="song amplitude-song-container amplitude-play-pause" data-amplitude-song-index="7">
                        <span class="album__song-number">08</span>
                        Si les vaches avaient des ailes
                    </li>
                    <li class="song amplitude-song-container amplitude-play-pause" data-amplitude-song-index="8">
                        <span class="album__song-number">09</span>
                        Ravissante môme
                    </li>
                    <li class="song amplitude-song-container amplitude-play-pause" data-amplitude-song-index="9">
                        <span class="album__song-number">10</span>
                        Le soldat en bouffon
                    </li>
                    <li class="song amplitude-song-container amplitude-play-pause" data-amplitude-song-index="10">
                        <span class="album__song-number">11</span>
                        Potache
                    </li>
                    <li class="song amplitude-song-container amplitude-play-pause" data-amplitude-song-index="11">
                        <span class="album__song-number">12</span>
                        Quéquette
                    </li>
                    <li class="song amplitude-song-container amplitude-play-pause" data-amplitude-song-index="12">
                        <span class="album__song-number">13</span>
                        Tu as 20 ans
                    </li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/amplitudejs@5.0.3/dist/amplitude.js"></script>
    <script src="{{ asset('js/amplitude.js') }}"></script>
{% endblock %}