{% extends 'front/base.html.twig' %}
{% set page = 'videos' %}
{% block title %}Vidéos{% endblock %}
{% block h1_title %}Ce ne sont pas des <span id="main_title_emphisised">vidéos</span> de Matthieu Côte{% endblock %}
{% block body %}

{% endblock %}